@using BankSite.Models.DbTables
@model AccountCreateViewModel

@{
    ViewData["Title"] = "Create";
    List<SelectListItem> accountTypesSelectList = new();
    foreach (AccountType type in Model.AllAccountTypes)
    {
        accountTypesSelectList.Add(
            new SelectListItem()
            {
                Value = type.AccountTypeId.ToString(),
                Text = type.TypeName
            }
        );
    }
}

<h1>Create</h1>

<h4>Account</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <select asp-for="ChosenAccountTypeId" asp-items="accountTypesSelectList"></select>
            </div>
            <div class="form-group">
                <input asp-for="UserId" class="form-control"  hidden="hidden"/>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
